/* this additional external css file is halp for better handling the responsiveness and animations */

/* ANIMATIONS  */
@keyframes side-menu-in {
    0% {
        width: 0;
    }

    100% {
        width: 250px;
    }
}

@keyframes rotate-close-btn {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

/* RESPONSIVENESS  */
/* screens bigger than 768px length  */
@media (max-width: 768px) {

    /* navbar mobile view */
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    /* contact form view for mobiles  */
    .contact-form {
        width: 85%;
    }

    /* response page mobile view  */
    .response button {
        width: 90%;
    }

    /* Service Pages CSS Properties  */
    .service-gallery {
        width: 100%;
    }

    .service-details{
        width: 100%;
    }

    #custom-divider{
        width: 100%;
    }
}

/* screens between the 425px to 768px length  */
@media screen and (min-width:425px) and (max-width: 768px) {

    /* response page mobile view  */
    .response h1 {
        font-size: 1.5rem;
    }

    .response p {
        font-size: 1rem;
    }

    .response button {
        width: 90%;
    }
}

/* screen bigger than 540px  */
@media screen and (max-width: 540px) {

    /* response title fix  */
    .response h1 {
        font-size: 1.5rem;
    }

    .response p {
        font-size: 1rem;
    }
}

/* screens smaller than 430px */
@media screen and (max-width:430px) {

    /* response page mobile view  */
    .response h1 {
        font-size: 1.5rem;
    }

    .response p {
        font-size: .9rem;
    }

    .response img {
        width: 150px;
        height: 150px;
        ;
    }

    .response button {
        width: 80%;
        font-size: 1rem;
    }

    .response button img {
        width: 20px;
        height: 20px;
    }
}

/* screen smaller than 394px  */
@media screen and (max-width:394px) {

    /* card view for very small screens  */
    .service-cards .card {
        height: 500px;
    }
}